@import url(./fonts.css);

/* DESIGN SYSTEM */

:root {
    --primary-color: #07043B;
    --white: #fff;
    --green: #3DA08F;
    --OpenSans: "Open Sans";
    --NunitoSans: "Nunito Sans";
    --Raleway: "Raleway";
}

/* GLOBAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #2F65F8;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 200px;
    width: 100%;
    display: block;
    text-align: center;
    box-shadow: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
    color: var(--white);
    border-radius: 3px;
    text-transform: capitalize;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 14px;
    transition: .5s;
    border: unset;


}
.btn:hover {
    opacity: .8;
}
.btn:active {
    background-color: #6C9BFF;
}

/* CONTAINER */

.container {
    max-width: 1328px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}

/* D-FLEX */

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SITE-HEADER */

.site-header {
    padding-top: 65px;
}

.logo {
    display: block;
}
.logo-image {
    max-width: 166px;
    width: 100%;
    height: 49px;
    object-fit: cover;
}
.nav {
    display: flex;
    column-gap: 57px;
}
.nav-link {
    font-family: var(--Raleway);
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
}

/* SITE HERO */

.site-hero {
    padding-top: 100px;
    padding-bottom: 100px;
}
.site-title {
    color: var(--primary-color);
    font-family: var(--Raleway);
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    max-width: 627px;
    width: 100%;
}
.site-desc {
    font-family: var(--OpenSans);
    font-size: 17px;
    font-weight: 400px;
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 585px;
    width: 100%;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.531px;
}
.site-form {
    display: flex;
    column-gap: 16px;
}
.site-form__input {
    max-width: 320px;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
}
.site-form__input::placeholder{
    color: #C2C2C2;
    font-family: var(--OpenSans);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.467px;
}
.site-form__input:focus{
    outline: none;
}



.site-hero__banner {
    max-width: 640px;
    width: 100%;
    object-fit: cover;
}

/* SITE HERO */