@import url(./fonts.css);

/* DESIGN SYSTEM */

:root {
    --primary-color: #07043B;
    --white: #fff;
    --green: #3DA08F;
    --OpenSans: "Open Sans";
    --NunitoSans: "Nunito Sans";
    --Raleway: "Raleway";
}

/* GLOBAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #2F65F8;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 200px;
    width: 100%;
    display: block;
    text-align: center;
    box-shadow: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
    color: var(--white);
    border-radius: 3px;
    text-transform: capitalize;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 14px;
    transition: .5s;
    border: unset;


}
.btn:hover {
    opacity: .8;
}
.btn:active {
    background-color: #6C9BFF;
}

/* CONTAINER */

.container {
    max-width: 1328px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}

/* D-FLEX */

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SITE-HEADER */

.site-header {
    padding-top: 65px;
}

.logo {
    display: block;
}
.logo-image {
    max-width: 166px;
    width: 100%;
    height: 49px;
    object-fit: cover;
}
.nav {
    display: flex;
    column-gap: 57px;
}
.nav-link {
    font-family: var(--Raleway);
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
}

/* SITE HERO */

.site-hero {
    padding-top: 100px;
    padding-bottom: 100px;
}
.site-title {
    color: var(--primary-color);
    font-family: var(--Raleway);
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    max-width: 627px;
    width: 100%;
}
.site-desc {
    font-family: var(--OpenSans);
    font-size: 17px;
    font-weight: 400px;
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 585px;
    width: 100%;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.531px;
}
.site-form {
    display: flex;
    column-gap: 16px;
}
.site-form__input {
    max-width: 320px;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
}
.site-form__input::placeholder{
    color: #C2C2C2;
    font-family: var(--OpenSans);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.467px;
}
.site-form__input:focus{
    outline: none;
}



.site-hero__banner {
    max-width: 640px;
    width: 100%;
    object-fit: cover;
}

/* SITE HERO */

/* SERVICE */


.service-picture {
    width: 100%;

}
.service-image {
    width: 100%;
}
.service-content {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F8F8FE;
}
.service-title {
    color: var(--primary-color);
    font-family: var(--Raleway);
    font-size: 40px;
    font-weight: 700;
}
.service-text {
    max-width: 529px;
    width: 100%;
    color: var(--primary-color);
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    margin-top: 38px;
    margin-bottom: 15px;
}
.service-btn {
    color: var(--green);
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    column-gap: 8px;
    border-bottom: 1px solid var(--green);
    width: max-content;
    

}
.service-card {
    max-width: 356px;
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.05);
    padding: 25px 33px;
    margin-top: 45px;
}
.service-card__text {
    color: var(--primary-color);
    font-family: var(--OpenSans);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
}

.user {
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-top: 16px;
}
.user-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.user-name {
    color: var(--primary-color);
    font-family: var(--OpenSans);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.55px;
}
.user-job {
    color: var(--primary-color);
    font-family: var(--OpenSans);
    font-size: 8px;
    font-weight: 400;
    line-height: 15px;

letter-spacing: 0.356px;
}
/* SERVICE */

/* CONTACT */
.contact {
    padding-top: 100px;
    padding-bottom: 85px;
    background-color: #575988;
}
.contact-title {
    color: var(--white);
    font-family: var(--Raleway);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;

}
.contact-text {
    color: var(--white);
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .5px;
    max-width: 533px;
    width: 100%;
    margin-top: 17px;
}
.form-control {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.contact-input {
    display: block;
    width: 480px;
    padding: 16px 22px;
    box-shadow: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
    border-radius: 3px;
    border: unset;
}
.contact-input::placeholder{
    font-size: 12px;
    font-weight: 400;
    font-family: var(--Raleway);
    color: #C0C0C0;

}
.contact-input:focus{
   outline: unset;
}

/* CONTACT */

/* SITE-FOOTER */

.site-footer {
    background-color: var(--primary-color);
    padding-top: 92px;
    padding-bottom: 86px;
}
.footer-info {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}
.footer-contact {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.footer-call {
    display: flex;
    column-gap: 16px;
    align-items: center;
    color: var(--white);
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
}
.menu {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.menu-link {
    color: var(--white);
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
}
.social {
    display: flex;
    column-gap: 18px;
}
.social-link {
    width: 31px;
    height: 31px;
    border: 1px solid #DFE4F0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    transition: .4s;
}
.social-link:hover {
    border-color: #6C9BFF;
    color: #6C9BFF;
}
/* SITE-FOOTER */